/experiments/
/Develop_Dynamic_cloud/experiments/
/synthetic_cloud_fields/WIZ_Clouds/
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/
/mie_tables/monodisperse/
/mie_tables/polydisperse/
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/
/mie_tables/
