/experiments/
/Develop_Dynamic_cloud/experiments/
/synthetic_cloud_fields/WIZ_Clouds/
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/
/mie_tables/monodisperse/
/mie_tables/polydisperse/
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/
/mie_tables/
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/AirMSPI_ER2_GRP_ELLIPSOID_20130206_202416Z_Pacific-32N123W_660F_F01_V003.hdf
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/AirMSPI_ER2_GRP_ELLIPSOID_20130206_202416Z_Pacific-32N123W_660F_F01_V003.met
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/AirMSPI_ER2_GRP_ELLIPSOID_20130206_203133Z_Pacific-32N123W_660A_F01_V003.hdf
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/AirMSPI_ER2_GRP_ELLIPSOID_20130206_203133Z_Pacific-32N123W_660A_F01_V003.met
/mie_tables/monodisperse/Water_865nm.scat
/mie_tables/monodisperse/Water_865nm.scat
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/AirMSPI_ER2_GRP_ELLIPSOID_20130206_202416Z_Pacific-32N123W_660F_F01_V003.hdf
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/AirMSPI_ER2_GRP_ELLIPSOID_20130206_202416Z_Pacific-32N123W_660F_F01_V003.met
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/AirMSPI_ER2_GRP_ELLIPSOID_20130206_203133Z_Pacific-32N123W_660A_F01_V003.hdf
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/AirMSPI_ER2_GRP_ELLIPSOID_20130206_203133Z_Pacific-32N123W_660A_F01_V003.met
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/
/mie_tables/monodisperse/Water_865nm.scat
/mie_tables/polydisperse/Water_865nm.scat
/AirMSPI/AirMSPI_ER2_GRP_ELLIPSOID_20130206_Pacific-32N123W/
